@font-face {
    font-family: myFont;
    src: url(../fonts/custom.ttf);
}

@font-face {
    font-family: comforter;
    src: url(../fonts/Comforter.ttf);
}
@font-face {
    font-family:outfit;
    src: url(../fonts/Outfit.ttf);
}